<div class="main-content">
    <div class="table-view">
        <div class="voting-phase-banner">
            <h1>{{votingPhases.banner}}</h1>
        </div>
        <div class="table">
            <div class="players-1-3">
                <div class="player-1"></div>
                <div class="player-2"></div>
                <div class="player-3"></div>
            </div>
            <div class="players-4-6">
                <div class="player-4"></div>
                <div class="player-5" *ngIf="playerState.visible==false"></div>
                <div class="player-5" *ngIf="playerState.visible==true">{{playerState.score}}</div>
                <div class="player-6"></div>
            </div>
            <div class="players-7">
                <div class="player-7"></div>
            </div>
            <div class="players-8">
                <div class="player-8"></div>
            </div> 
            <div class="button">
                <!-- start vote button -->
                <button *ngIf="votingPhases.startVisible==true" id="startVoteButton" mat-raised-button color="primary" (click)="startVote()"> Start Vote</button>
                <!-- finish vote button -->
                <button *ngIf="votingPhases.finishVisible==true" id="startVoteButton" mat-raised-button color="primary" (click)="finishVote()">Finish Vote</button>
                <!-- reset vote button -->
                <button class="reset" *ngIf="votingPhases.resetVisible==true" id="startVoteButton" mat-raised-button color="primary" (click)="resetVote()">Reset</button>
                <!-- rescore vote button -->
                <button class="rescore" *ngIf="votingPhases.rescoreVisible==true" id="startVoteButton" mat-raised-button color="primary" (click)="rescoreVote()">Rescore</button>
            </div>
        </div>
    </div>
    <div class="menu">
        <app-menu  [player]="playerState"></app-menu>
    </div>
</div>
<app-cards (cardEvent)="receivedMessage($event)"></app-cards>

