* {
    padding: 0;
    margin: 0;
}

.main-content {
    display: flex;
    height: 75%;
    width: 100%;
}

.table-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-style: solid;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 2em;
    left: 50%;
    transform: translateX(-100%);
    width: 50%;
    height: 25%;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
}

.player-1, .player-2, .player-3, .player-4, .player-5, .player-6, .player-7, .player-8 {
    border-style: solid;
    border-width: 1px;
    height: 60px;
    width: 40px;
}

.button {
    display: flex;
    justify-content: center;
}

.players-1-3 {
    position: absolute;
    margin-bottom: 1em;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.players-4-6 {
    position: absolute;
    margin-top: 1em;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.players-7 {
    position: absolute;
    margin: 1em 2em 0em;
    top: 20%;
    right: 100%;
}

.players-8 {
    position: absolute;
    margin: 1em 2em 0em;
    top: 20%;
    left: 100%;
}

.menu {
    border-style: solid;
    width: 60%;
}

