<div class="main-content">
    <div class="table-view">
        <div class="table">
            <div class="players-1-3">
                <div class="player-1"></div>
                <div class="player-2"></div>
                <div class="player-3"></div>
            </div>
            <div class="players-4-6">
                <div class="player-4"></div>
                <div class="player-5"></div>
                <div class="player-6"></div>
            </div>

            <div class="players-7">
                <div class="player-7"></div>
            </div>
            <div class="players-8">
                <div class="player-8"></div>
            </div> 
            <!-- <div class="button">
                <button mat-raised-button color="primary">Start Vote</button>
            </div> -->
        </div>
    </div>
</div>
