* {
    padding: 0;
    margin: 0;
}

.main-content {
    height: 25vh;
    display: flex;
}

mat-card {
    padding: 0;
    border-style: solid;
    width: 100px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    cursor: pointer;

    button {
        height: 100%;
        width: 100%;
        font-size: 60px;
        background: transparent;
        border-style: none;
    }
}

button {
    cursor: pointer;
}