<div class="main-content">
    <mat-card>
        <button (click)="onClick($event)" id="zero">0</button>
    </mat-card>
    <mat-card>
        <button (click)="onClick($event)" id="one">1</button>
    </mat-card>
    <mat-card>
        <button (click)="onClick($event)" id="two">2</button>
    </mat-card>
    <mat-card>
        <button (click)="onClick($event)" id="three">3</button>
    </mat-card>
    <mat-card>
        <button (click)="onClick($event)" id="five">5</button>
    </mat-card>
    <mat-card>
        <button (click)="onClick($event)" id="eight">8</button>
    </mat-card>
    <mat-card>
        <button (click)="onClick($event)" id="ten">10</button>
    </mat-card>
    <mat-card>
        <button (click)="onClick($event)" id="thirteen">13</button>
    </mat-card>
    <mat-card>
        <button (click)="onClick($event)" id="questionMark">?</button>
    </mat-card>
</div>