* {
    padding: 0;
    margin: 0;
}

.main-content {
    height: 25vh;
    display: flex;
}

mat-card {
    border-style: solid;
    width: 80px;
    height: 130px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        height: 100%;
        width: 100%;
        font-size: 60px;
        background: transparent;
        border-style: none;
    }
}