<div class="main-content">
	<div class="table-view">
		<div class="voting-phase-banner">
			<h1>{{ votingPhases.banner }}</h1>
		</div>
		<div class="table">
			<img class="poker-table" src="/assets/poker-table-cloth.png" />
		</div>
		<div class="controls">
			<div class="standard-controls">
				<!-- start vote button -->
				<button
					class="start-vote-button"
					*ngIf="votingPhases.startVisible == true"
					id="startVoteButton"
					mat-raised-button
					color="accent"
					(click)="startVote()">
					Start Vote
				</button>
				<!-- finish vote button -->
				<button
					class="finish-vote-button"
					*ngIf="votingPhases.finishVisible === true"
					id="startVoteButton"
					mat-raised-button
					color="accent"
					(click)="finishVote()">
					Finish Vote
				</button>
				<!-- reset vote button -->
				<button
					class="reset-vote-button"
					*ngIf="(enablePert$ | async) === false && votingPhases.rescoreVisible === true"
					id="startVoteButton"
					mat-raised-button
					color="accent"
					(click)="resetVote()">
					New Ticket
				</button>
				<!-- rescore vote button -->
				<button
					class="rescore-vote-button"
					*ngIf="votingPhases.rescoreVisible === true"
					id="startVoteButton"
					mat-raised-button
					color="accent"
					(click)="rescoreVote()">
					Rescore
				</button>
			</div>
			<div class="pert-controls">
				<button *ngIf="(enablePert$ | async) === true" mat-flat-button class="next-pert" (click)="nextPert()">Next</button>
				<button *ngIf="(enablePert$ | async) === true" mat-flat-button class="next-pert" (click)="previousPert()">Back</button>
				<button mat-flat-button class="enable-pert" (click)="enableOrDisablePert()">{{ getEnablePertLabel() }}</button>
			</div>
		</div>
	</div>
	<div #averageScore id="averageScore" class="average-score">
		<app-average-scores></app-average-scores>
	</div>
	<div class="menu">
		<app-menu></app-menu>
	</div>
	<div *ngIf="(enablePert$ | async) === true" class="pert">
		<app-pert-component [enablePert]="enablePert$.asObservable()" [nextPert$]="nextPert$.asObservable()"></app-pert-component>
	</div>
</div>
<div class="cards">
	<app-cards (cardEvent)="receivedMessage($event)"></app-cards>
</div>
