<div class="main-content">
	<div class="table-view">
		<div class="table">
			<img class="poker-table" src="/assets/poker-table-cloth.png" />
		</div>
		<div class="sidebar">
			<div class="controls">
				<div class="standard-controls">
					<!-- start vote button -->
					<button
						class="start-vote-button"
						*ngIf="(votingStage$ | async) === 'START_VOTE'"
						id="startVoteButton"
						mat-raised-button
						color="accent"
						(click)="startVote()">
						Start Vote
					</button>
					<!-- finish vote button -->
					<button
						class="finish-vote-button"
						*ngIf="(votingStage$ | async) === 'FINISH_VOTE'"
						id="startVoteButton"
						mat-raised-button
						color="accent"
						(click)="finishVote()">
						Finish Vote
					</button>
					<!-- reset vote button -->
					<button
						class="reset-vote-button"
						*ngIf="(enablePert$ | async) === false && (votingStage$ | async) === 'RESET_VOTE'"
						id="startVoteButton"
						mat-raised-button
						color="accent"
						(click)="resetVote()">
						New Ticket
					</button>
					<!-- rescore vote button -->
					<button
						class="rescore-vote-button"
						*ngIf="(votingStage$ | async) === 'RESET_VOTE'"
						id="startVoteButton"
						mat-raised-button
						color="accent"
						(click)="rescoreVote()">
						Rescore
					</button>
				</div>
				<div class="pert-controls">
					<button
						*ngIf="(enablePert$ | async) === true"
						[disabled]="(votingStage$ | async) !== 'RESET_VOTE'"
						mat-flat-button
						class="next-pert"
						(click)="nextPertOrFinish()">
						{{ getNextOrFinishPertLabel() }}
					</button>
					<button *ngIf="(enablePert$ | async) === true" mat-flat-button class="next-pert" (click)="previousPert()">Back</button>
					<!-- <button mat-flat-button class="enable-pert" (click)="enableOrDisablePert()">{{ getEnablePertLabel() }}</button> -->
				</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<app-menu></app-menu>
	</div>
	<div class="pert">
		<app-pert-component
			[nextPert$]="nextPert$.asObservable()"
			[finishPertScoring$]="finishPertScoring.asObservable()"
			(pertStageEvent)="getPertStage($event)"></app-pert-component>
	</div>
</div>
<div class="cards">
	<app-cards (cardEvent)="receivedMessage($event)"></app-cards>
</div>
