<div class="main-content">
  <div class="cards">
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="0"
      >
        0
      </button>
    </mat-card>
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="1"
      >
        1
      </button>
    </mat-card>
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="2"
      >
        2
      </button>
    </mat-card>
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="3"
      >
        3
      </button>
    </mat-card>
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="5"
      >
        5
      </button>
    </mat-card>
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="8"
      >
        8
      </button>
    </mat-card>
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="10"
      >
        10
      </button>
    </mat-card>
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="13"
      >
        13
      </button>
    </mat-card>
    <mat-card>
      <button
        (mouseover)="mouseOver($event)"
        (mouseout)="mouseOut($event)"
        (click)="onClick($event)"
        id="-1"
      >
        ?
      </button>
    </mat-card>
  </div>
</div>
