<div class="main-content">
    <!-- TODO: 
            - click edit text on ticket title.   -->
    <div class="ticket-title">
        <h1>Ticket Here</h1>
    </div>
    <div>
    <table>
        <!-- TODO:
                - loop rows for how many players are in game.
                - scoring system, average score.   -->
        <tr>
           <td>{{player.name}}</td>
           <td>{{player.name}}</td>
        </tr>
        <tr>
           <td>{{player.name}}</td>
           <td>{{player.name}}</td>
        </tr>
        <tr>
           <td>{{player.name}}</td>
           <td>{{player.name}}</td>
        </tr>
        <tr>
           <td>{{player.name}}</td>
           <td>{{player.name}}</td>
        </tr>
        <tr>
           <td>{{player.name}}</td>
           <td>{{player.name}}</td>
        </tr>
    </table>
</div>
