<div class="main-content">
    <!-- TODO: 
            - click edit text on ticket title.   -->
    <div class="ticket-title" (click)="editTicket()">
        <h1  *ngIf="ticket.headerVisible==true">{{ticket.name}}</h1>
        <input #txtVal (keydown.enter)="editTicketName(txtVal.value)" id="ticketName" *ngIf="ticket.editVisible==true" matInput placeholder={{ticket.name}}>
    </div>
    <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef>name</th>
         <td mat-cell *matCellDef="let user">{{users}}</td>
      </ng-container>
      <ng-container matColumnDef="score">
         <th mat-header-cell *matHeaderCellDef>score</th>
         <td mat-cell *matCellDef="let user">
            <div *ngIf="player.visible==true">{{player.score}}</div>
         </td>
      </ng-container>
      <ng-container matColumnDef="rescore">
         <th mat-header-cell *matHeaderCellDef>rescore</th>
         <td mat-cell *matCellDef="let user">{{user.rescore}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
