.main-content {
  width: 200%;
  height: 100%;
  margin-left: 2em;
}

table {
  width: 100%;
  margin-top: 2em;
  background-color: rgba(0, 255, 255, 0);
}

td {
  font-size: 22px;
  padding-left: 50px;
  padding-top: 25px;
  color: white;
}

th {
  font-size: 22px;
  color: white;
}

td .playing-card {
  height: 10%;
}
