* {
    padding: 0;
    margin: 0;
}


.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    flex-direction: column;

}

.table {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

