<div class="main">
  <div class="optimistic">
    <h2>Optimistic</h2>
    <div class="scores">
      <p>(Your) Score: <span>10</span></p>
      <p>Average:<span>10</span></p>
    </div>
    <div class="chips"></div>
  </div>
  <div class="most-likely">
    <h2>Most Likely</h2>
    <div class="scores">
      <p>(Your) Score: <span>10</span></p>
      <p>Average:<span>10</span></p>
    </div>
    <div class="chips"></div>
  </div>
  <div class="pessimistic">
    <h2>Pessimistic</h2>
    <div class="scores">
      <p>(Your) Score: <span>10</span></p>
      <p>Average:<span>10</span></p>
    </div>
    <div class="chips">
      <img
        [@someCoolAnimation]="bindingVar"
        #redChip
        id="red-chip"
        class="red-chip"
        src="/assets/istockphoto-1366312579-1024x1024.png"
      />
    </div>
  </div>
</div>
